  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="col-md-4">name</label>
          <input type="text" class="form-control" name="name"/>
        </div>
        <div class="form-group">
          <label class="col-md-4">lastName</label>
          <input type="text" class="form-control" name="lastName"/>
        </div>
        <div class="form-group">
            <label class="col-md-4">gender</label>
            <input type="text" class="form-control" name="gender"/>
        </div>
        <div class="form-group">
            <label class="col-md-4">email</label>
            <input type="text" class="form-control" name="email"/>
        </div>
        <div class="form-group">
            <label class="col-md-4">telephone</label>
            <input type="text" class="form-control" name="telephone"/>
        </div>
        <div class="form-group">
            <label class="col-md-4">rfid</label>
            <input type="text" class="form-control" name="rfid"/>
        </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Agregar alumno</button>
          </div>
          
      </form>
    </div>
  </div>
